body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    background: url('images/walking-background.jpg') no-repeat;
    background-size: 100% 100%;
    perspective: 1000px;
}

.about {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    background: url('images/about-back.jpg') no-repeat;
    background-size:  cover;
    background-position-y: 50%;
    perspective: 1000px;
    color: red;
}

.start {
    color: red;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 15% 0 0 46%;
}

.pop-up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 5%;
    top: 0;
}

.safe-zone {
    width: 50%;
    position: relative;
    transform: translate(47%, 5%);
    border-radius: 5px;
}


header {
    width: 100%;
    height: 15vh;
    text-align: center;
}

.title-logo {
    height: 150%;
    left: 4%;
    position: relative;
}

.game-settings, .game-about {
    float: right;
    margin: 1vw;
    color: black;
    font-weight: bold;
}

#game-area {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    perspective: 1000px;
}

.card {
    position: relative;
    height: 30%;
    width: 8%;
    float: left;
    margin: 1vw;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    z-index: 2;
    transform: rotateY(0deg);
}

.front {
    transform: rotateY(-180deg);
}

.flip {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

.reset, .music {
    background-color: black;
    color: red;
    font-weight: bold;
    border: none;
    clear: both;
}

.music {
    margin-left: 30px;
}

.reset:focus, .start:focus, .music:focus {
    outline-color: red;
}

footer {
    width: 100%;
    height: 5vh;
    text-align: center;
}

#one, #two, #three, #four {
    background-color: black;
    color: red;
    display: inline-block;
    width: 20%;
    float: left;
}

.skills {
    float: left;
    width: 15%;
    margin: 7% 0 0 10%;
    transform:  rotateY(82deg) rotateX(-22deg) rotateZ(-25deg);
}

.skills:hover {
    transform: rotateY(0deg);
}

.profile-pic {
    float: left;
    margin: 5% 0 0 5%;
    transform: rotateY(71deg) rotateX(-17deg) rotateZ(-22deg);

}

.about-dead {
    width: 30%;
    float: right;
    margin: 7% 7% 0 0;
    transform: rotateY(-57deg) rotateX(-34deg) rotateZ(27deg);
}

.about-dead:hover {
    transform: rotateY(0deg);
}

.graffiti {
    float: right;
    margin: -3% 2% 0 0;
    transform: rotateY(-72deg) rotateX(-15deg) rotateZ(22deg);

}

.rules {
    clear: both;
    text-align: center;
    width: 15%;
    float: right;
    margin:3% 7% 0 0;
    transform: rotateY(-82deg) rotateX(-8deg) rotateZ(14deg);
}

.rules:hover {
    transform: rotateY(0deg);
}

.rules li {
    text-align: left;
}

.links {
    margin-left: 32%;
    clear: both;
    float: left;
    display: inline-block;
    width: 15%;
    transform: rotateY(55deg) rotateX(-8deg) rotateZ(-16deg);
}

.links> span, a {
    padding-right: 5%;
    color: red;
}

.creeper {
    float: right;
    transform: rotateX(-35deg);
}

.walker-one {
    position: absolute;
    height: 12%;
    left: 18%;
    bottom: 5%;
}

.walker-two {
    position: absolute;
    height: 12%;
    left: 35%;
    bottom: 10%;
}

.walker-three {
    position: absolute;
    height: 12%;
    right: 26%;
    bottom: 8%;
}

