body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    background: url('images/walking-background.jpg') no-repeat;
    background-size: cover;
    perspective: 1000px;
}

.about {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    background: url('images/about-back.jpg') no-repeat;
    background-size:  cover;
    background-position-y: 50%;
    perspective: 1000px;
}

header {
    width: 100%;
    height: 15vh;
    text-align: center;
}

.title-logo {
    height: 150%;
}

.game-settings, .game-about {
    float: right;
    margin: 1vw;
    color: black;
    font-weight: bold;
}

#game-area {
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;

}

.card {
    position: relative;
    height: 30%;
    width: 8%;
    float: left;
    margin: 1vw;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

.reset {
    background-color: black;
    color: red;
    font-weight: bold;
    border: none;
    clear: both;
}

.reset:visited {
    border: 1px solid red;
}

footer {
    width: 100%;
    height: 5vh;
    text-align: center;
}

.games-played, .attempts, .accuracy {
    display: inline-block;
    width: 25%;
    float: left;

}

#one, #two, #three {
    background-color: black;
    color: red;
    display: inline-block;
}
